// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)
#include <windows.h>
#include "resource.h"
#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif



/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINFRAME           ICON                    "res\\MFCMusicPlayer.ico"

IDI_ICONSINGLELOOP      ICON                    "res\\ico00001.ico"

IDI_ICONVOLUME          ICON                    "res\\icon1.ico"

IDI_ICONFILEOPEN        ICON                    "res\\icon2.ico"

IDI_ICONPREVIOUS        ICON                    "res\\ico00002.ico"

IDI_ICONNEXT            ICON                    "res\\ico00003.ico"

IDI_ICONPLAYLIST        ICON                    "res\\ico00004.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于 MFCMusicPlayer"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,20,20
    LTEXT           "MFCMusicPlayer (alpha build)",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Open Source",IDC_STATIC,42,26,58,8
    DEFPUSHBUTTON   "确定",IDOK,113,41,50,14,WS_GROUP
    CONTROL         "GitHub",IDC_MFCLINKGITHUB,"MfcLink",WS_TABSTOP,103,26,26,9
END

IDD_MFCMUSICPLAYER_DIALOG DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CTEXT           "00:00 / 00:00",IDC_STATICTIME,37,163,60,8
    PUSHBUTTON      "",IDC_BUTTONOPEN,7,7,18,18
    PUSHBUTTON      "",IDC_BUTTONPLAYLISTMGMT,25,7,18,18
    PUSHBUTTON      "播放",IDC_BUTTONPLAY,7,163,30,30
    PUSHBUTTON      "停止",IDC_BUTTONSTOP,57,173,20,20
    PUSHBUTTON      "暂停",IDC_BUTTONPAUSE,37,173,20,20
    CONTROL         "",IDC_SLIDERPROGRESS,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,7,148,305,15
    CONTROL         "",IDC_ALBUMART,"Static",SS_BITMAP,7,30,13,12
    CONTROL         "",IDC_SLIDERVOLUMECTRL,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,263,173,49,20
    ICON            IDI_ICONVOLUME,IDC_STATICVOLUMEICON,243,173,20,20
    SCROLLBAR       IDC_SCROLLBARLRCVERTICAL,303,30,9,103,SBS_VERT
    LTEXT           "",IDC_LRCDISPLAY,117,30,186,103
    PUSHBUTTON      "译",IDC_BUTTONTRANSLATION,77,173,20,20
    PUSHBUTTON      "あ",IDC_BUTTONROMANIZATION,97,173,20,20
    PUSHBUTTON      "",IDC_BUTTONSINGLELOOP,117,173,20,20
    PUSHBUTTON      "",IDC_BUTTONPREVIOUS,147,173,20,20
    PUSHBUTTON      "",IDC_BUTTONNEXT,177,173,20,20
END

IDD_MUSICPLAYERSETTINGDLG DIALOGEX 0, 0, 271, 211
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "设置"
FONT 9, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,160,190,50,14
    PUSHBUTTON      "取消",IDCANCEL,214,190,50,14
    CONTROL         "",IDC_TABSETTINGS,"SysTabControl32",0x0,7,7,257,178
END

IDD_SETTINGS_CHILDPAGE_AUDIOOUTPUT DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "音频后端",IDC_STATIC,37,31,51,9
    COMBOBOX        IDC_COMBOAUDIOBACKENDSELECT,88,31,129,12,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "音频采样率",IDC_STATIC,37,49,51,9
    EDITTEXT        IDC_EDITSAMPLERATE,88,49,98,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "kHz",IDC_STATIC,203,52,13,10
    LTEXT           "声道数",IDC_STATIC,37,67,43,11
    COMBOBOX        IDC_COMBOCHANNELCOUNT,88,67,129,30,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

IDD_SETTINGS_CHILDPAGE_EQUALIZER DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_SLIDER_31HZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,46,26,21,100
    CONTROL         "",IDC_SLIDER_62HZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,67,26,20,100
    CONTROL         "",IDC_SLIDER_125HZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,87,26,20,100
    CONTROL         "",IDC_SLIDER_250HZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,107,26,20,100
    CONTROL         "",IDC_SLIDER_500HZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,127,26,20,100
    CONTROL         "",IDC_SLIDER_1KHZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,147,26,20,100
    CONTROL         "",IDC_SLIDER_2KHZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,166,26,21,100
    CONTROL         "",IDC_SLIDER_4KHZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,187,26,21,100
    CONTROL         "",IDC_SLIDER_8KHZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,207,26,21,100
    CONTROL         "",IDC_SLIDER_16KHZ,"msctls_trackbar32",TBS_VERT | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,227,26,21,100
    LTEXT           "   31       62    125     250    500     1k      2k      4k       8k     16k  ",IDC_STATIC,46,135,201,8
END

IDD_DIALOGPLAYLIST DIALOGEX 0, 0, 146, 240
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "播放列表..."
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,89,219,50,14
    CONTROL         "",IDC_LISTPLAYLIST,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,17,15,110,196
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "TODO: <公司名>"
            VALUE "FileDescription", "MFCMusicPlayer"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "MFCMusicPlayer.exe"
            VALUE "LegalCopyright", "TODO:  (C) <公司名>。  保留所有权利。"
            VALUE "OriginalFilename", "MFCMusicPlayer.exe"
            VALUE "ProductName", "TODO: <产品名>"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
        HORZGUIDE, 24
    END

    IDD_MFCMUSICPLAYER_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 312
        VERTGUIDE, 25
        VERTGUIDE, 37
        VERTGUIDE, 57
        VERTGUIDE, 77
        VERTGUIDE, 97
        VERTGUIDE, 117
        VERTGUIDE, 137
        VERTGUIDE, 243
        VERTGUIDE, 263
        VERTGUIDE, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 193
        HORZGUIDE, 24
        HORZGUIDE, 30
        HORZGUIDE, 133
        HORZGUIDE, 148
        HORZGUIDE, 163
        HORZGUIDE, 173
        HORZGUIDE, 192
    END

    IDD_MUSICPLAYERSETTINGDLG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 264
        VERTGUIDE, 15
        VERTGUIDE, 59
        VERTGUIDE, 143
        VERTGUIDE, 160
        VERTGUIDE, 170
        TOPMARGIN, 7
        BOTTOMMARGIN, 204
        HORZGUIDE, 22
        HORZGUIDE, 44
        HORZGUIDE, 58
        HORZGUIDE, 68
        HORZGUIDE, 88
        HORZGUIDE, 127
        HORZGUIDE, 185
    END

    IDD_SETTINGS_CHILDPAGE_AUDIOOUTPUT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 302
        VERTGUIDE, 37
        VERTGUIDE, 88
        VERTGUIDE, 217
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
        HORZGUIDE, 31
        HORZGUIDE, 49
        HORZGUIDE, 67
    END

    IDD_SETTINGS_CHILDPAGE_EQUALIZER, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 302
        VERTGUIDE, 27
        VERTGUIDE, 46
        VERTGUIDE, 67
        VERTGUIDE, 87
        VERTGUIDE, 107
        VERTGUIDE, 127
        VERTGUIDE, 147
        VERTGUIDE, 167
        VERTGUIDE, 187
        VERTGUIDE, 207
        VERTGUIDE, 227
        VERTGUIDE, 247
        VERTGUIDE, 267
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
        HORZGUIDE, 26
    END

    IDD_DIALOGPLAYLIST, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 139
        TOPMARGIN, 7
        BOTTOMMARGIN, 233
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_MFCMUSICPLAYER_DIALOG AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_ABOUTBOX AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_MUSICPLAYERSETTINGDLG AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_SETTINGS_CHILDPAGE_AUDIOOUTPUT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_SETTINGS_CHILDPAGE_EQUALIZER AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOGPLAYLIST AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_NOIMAGE             BITMAP                  "res\\bitmap1.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog Info
//

IDD_ABOUTBOX DLGINIT
BEGIN
    IDC_MFCLINKGITHUB, 0x37c, 202, 0
0x4d3c, 0x4346, 0x694c, 0x6b6e, 0x555f, 0x6c72, 0x683e, 0x7474, 0x7370, 
0x2f3a, 0x672f, 0x7469, 0x7568, 0x2e62, 0x6f63, 0x2f6d, 0x756c, 0x6163, 
0x3173, 0x3035, 0x3736, 0x2f30, 0x464d, 0x4d43, 0x7375, 0x6369, 0x6c50, 
0x7961, 0x7265, 0x2f3c, 0x464d, 0x4c43, 0x6e69, 0x5f6b, 0x7255, 0x3e6c, 
0x4d3c, 0x4346, 0x694c, 0x6b6e, 0x555f, 0x6c72, 0x7250, 0x6665, 0x7869, 
0x3c3e, 0x4d2f, 0x4346, 0x694c, 0x6b6e, 0x555f, 0x6c72, 0x7250, 0x6665, 
0x7869, 0x3c3e, 0x464d, 0x4c43, 0x6e69, 0x5f6b, 0x6f54, 0x6c6f, 0x6974, 
0x3e70, 0x2f3c, 0x464d, 0x4c43, 0x6e69, 0x5f6b, 0x6f54, 0x6c6f, 0x6974, 
0x3e70, 0x4d3c, 0x4346, 0x694c, 0x6b6e, 0x465f, 0x6c75, 0x546c, 0x7865, 
0x5474, 0x6f6f, 0x746c, 0x7069, 0x463e, 0x4c41, 0x4553, 0x2f3c, 0x464d, 
0x4c43, 0x6e69, 0x5f6b, 0x7546, 0x6c6c, 0x6554, 0x7478, 0x6f54, 0x6c6f, 
0x6974, 0x3e70, 
    0
END

IDD_SETTINGS_CHILDPAGE_AUDIOOUTPUT DLGINIT
BEGIN
    IDC_COMBOAUDIOBACKENDSELECT, 0x403, 17, 0
0x4158, 0x6475, 0x6f69, 0x2032, 0xb2b9, 0xedcf, 0xa3c4, 0xbdca, "\000" 
    IDC_COMBOCHANNELCOUNT, 0x403, 7, 0
0xa5b5, 0xa8cd, 0xc0b5, "\000" 
    IDC_COMBOCHANNELCOUNT, 0x403, 7, 0
0xa2c1, 0xe5cc, 0xf9c9, "\000" 
    IDC_COMBOCHANNELCOUNT, 0x403, 13, 0
0xc4cb, 0xa8cd, 0xc0b5, 0xb7bb, 0xc6c8, 0xf9c9, "\000" 
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENULYRICCONTROL MENU
BEGIN
    POPUP " "
    BEGIN
        MENUITEM "加载自定义歌词...",                  ID__32771
        POPUP "歌词字体设置"
        BEGIN
            MENUITEM "正文",                          ID_32773
            MENUITEM "翻译/罗马音",                      ID_32774
        END
        POPUP "歌词颜色设置"
        BEGIN
            MENUITEM "正在播放",                        ID_32777
            MENUITEM "未播放/已播放",                     ID_32778
        END
    END
END

IDR_MENUMAIN MENU
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "打开文件...",                     ID_MENU_OPENFILE
        MENUITEM "打开文件夹（作为播放列表）",               ID_MENU_OPENFOLDER
        MENUITEM SEPARATOR
        MENUITEM "退出",                          ID_MENU_EXIT
    END
    POPUP "关于(&A)"
    BEGIN
        MENUITEM "关于 MFCMusicPlayer...",        ID_MENU_ABOUT
    END
END

IDR_MENUPLAYLISTCTRL MENU
BEGIN
    POPUP " "
    BEGIN
        MENUITEM "播放所选项",                      ID_MENU_PLAYLISTCTRL_PLAYSELECTED
        MENUITEM "下一首播放",                      ID_MENU_PLAYLISTCTRL_PLAYNEXTSELECTED
        MENUITEM "删除所选项",                      ID_MENU_PLAYLISTCTRL_DELETESELECTED
        MENUITEM SEPARATOR
        MENUITEM "清空播放列表",                     ID_MENU_PLAYLISTCTRL_CLEARPLAYLIST
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_ABOUTBOX            "关于 MFCMusicPlayer(&A)..."
    IDS_CREDIT              "undefined, Zopiclone, Adam, 白菜叶_, 任行道, and anyone else who has contributed to this project / help test the program."
END

#endif    // 中文(简体，中国) resources
/////////////////////////////////////////////////////////////////////////////

